<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Ahmad Rizki Maulana</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Rizki</string>
		<string>Rizki_MO</string>
		<string>-</string>
		<string>Coding Basic</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQ03v9Avn8fxr7k?blocks=hide</string>
	</array>
	<array>
		<string>Albert Pangestu</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Albert</string>
		<string>Albert_MO</string>
		<string>Ideation, Speak English, UI and UX Design.</string>
		<string>Programming Basics.</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recpydh3Rl2Oy1fO0?blocks=hide</string>
	</array>
	<array>
		<string>Alifudin Aziz</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Aziz</string>
		<string>Aziz_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec8yANqhLKhjckKG?blocks=hide</string>
	</array>
	<array>
		<string>Amelia Verina S.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Amelia</string>
		<string>Amelia_MO</string>
		<string>Swift, UI/UX Design, Public Speaking, English Practice</string>
		<string>Design, Interior &amp; Architecture Design.</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec8Gc37f8laVm8sG?blocks=hide</string>
	</array>
	<array>
		<string>Angela Priscila M.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Angel</string>
		<string>Angel_MO</string>
		<string>UI/UX Design, Swift, English Speaking</string>
		<string>Graphic Design (Branding)</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recTMsLqx5msXF9Ci?blocks=hide</string>
	</array>
	<array>
		<string>Ardy Stephanus</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Ardy</string>
		<string>Ardy_MO</string>
		<string>-</string>
		<string>Basic Coding, Basic Swift</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec7kztWY4HALdUxb?blocks=hide</string>
	</array>
	<array>
		<string>Arifin Firdaus</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Arifin</string>
		<string>Arifin_MO</string>
		<string>-</string>
		<string>iOS Development (UIKit), Clean Code </string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recTHEMGk71aR7yII?blocks=hide</string>
	</array>
	<array>
		<string>Arnold Pangestu</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Arnold</string>
		<string>Arnold_MO</string>
		<string>-</string>
		<string>Coding, Basic UI/UX Game Design, Unity;</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recc5ygWYjWSqOMeE?blocks=hide</string>
	</array>
	<array>
		<string>Audhy Virabri K.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Audhy</string>
		<string>Audhy_MO</string>
		<string>-</string>
		<string>basic swift, git version controller, parsing data</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recHisiJLO4AfSisX?blocks=hide</string>
	</array>
	<array>
		<string>Baby Amelia Andina P.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Business</string>
		<string>Baby</string>
		<string>Baby_MO</string>
		<string>Swift, Xcode, UI/UX design</string>
		<string>Business insights, public speaking and presentation skill, basic design.</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec13rd3Hj63JedEs?blocks=hide</string>
	</array>
	<array>
		<string>Bagus Setiawan</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Bagus</string>
		<string>Bagus_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec5QMQcfJzMrYFVO?blocks=hide</string>
	</array>
	<array>
		<string>Benyamin Rondang T.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Ben</string>
		<string>Ben_MO</string>
		<string>Leading &amp; trailing swipe action</string>
		<string>Basic coding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec3BiPxobMxguYvb?blocks=hide</string>
	</array>
	<array>
		<string>Dinie P. Hemas</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Dinie</string>
		<string>Dinie_MO</string>
		<string>Public speaking, English</string>
		<string>Basic coding, UI pattern</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recpEA5ow4jFfCbfx?blocks=hide</string>
	</array>
	<array>
		<string>Dionesia Nadya D.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Nadya</string>
		<string>Nadya_MO</string>
		<string>-</string>
		<string>Illustration</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recZWMAfmg44posvs?blocks=hide</string>
	</array>
	<array>
		<string>Edward da Costa</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Edward</string>
		<string>Edward_MO</string>
		<string>Design , Advance Code</string>
		<string>Basic Code</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recsyZreqEKg4sPa6?blocks=hide</string>
	</array>
	<array>
		<string>Faris Rasyadi Putra</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Faris</string>
		<string>Faris_MO</string>
		<string>-</string>
		<string>Unity 3D Programmer</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recCz9VjNGUSHhKsk?blocks=hide</string>
	</array>
	<array>
		<string>Ferdinan Linardi</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Ferdinan</string>
		<string>Ferdinan_MO</string>
		<string>Swift, UI/UX Design, Copywriting, Public Speaking, English Practice</string>
		<string>Ilustration, Graphic Design, Fashion Styling</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recY3bQG1AEqBUGbK?blocks=hide</string>
	</array>
	<array>
		<string>Geraldine Janice W.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Janice</string>
		<string>Janice_MO</string>
		<string>Intermediate coding, translating design into code</string>
		<string>Graphic design, Illustration</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec5qLfK56O67pNL7?blocks=hide</string>
	</array>
	<array>
		<string>Hana Christina R.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Hana</string>
		<string>Hana_MO</string>
		<string>XCode, Swift, UI/UX Design, English Practice, English Public Speaking, English copywriting</string>
		<string>Fashion design, Graphic design, Fashion business and styling</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recLlOfl56IRBiGXF?blocks=hide</string>
	</array>
	<array>
		<string>Henry Christanto S.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Henry</string>
		<string>Henry_MO</string>
		<string>Basic Coding for XCode, designing prototype with Sketch</string>
		<string>Photography, Copywriting &amp; Advertising</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recOgqef3Ti1TRMPz?blocks=hide</string>
	</array>
	<array>
		<string>I. Y. Muhammad Fiqhan</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Fiqhan</string>
		<string>Fiqhan_MO</string>
		<string>English, Graphic Design, Custom Component in Swift (Star Rating)</string>
		<string>Basic programing, Object Oriented Programing (OOP), Software Design Pattern</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recf31Kap4hrHrGOk?blocks=hide</string>
	</array>
	<array>
		<string>James Tirto</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Business</string>
		<string>James</string>
		<string>James_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recWTMwfpVn1O9aF9?blocks=hide</string>
	</array>
	<array>
		<string>Janice Budihartono</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>J&apos;Ice</string>
		<string>J&apos;Ice_MO</string>
		<string>Auto layout, Intermediate Swift Code (maybe), Design</string>
		<string>Code, English</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQnEqYCGEthTRst?blocks=hide</string>
	</array>
	<array>
		<string>Jeffrey Phinardi K.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Jep</string>
		<string>Jep_MO</string>
		<string>Public Speaking, Xcode (Constraint, Chat Feature, and Verification Code)</string>
		<string>Youtube content, Pr, Ph, Ai, Basic coding, </string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec5X5mpUHLEIC3Yl?blocks=hide</string>
	</array>
	<array>
		<string>Jeffry Sandy P.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Jeffry</string>
		<string>Jeffry_MO</string>
		<string>Swift UI
</string>
		<string>Basic Code, Basic Sketch</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recZOkPv6yZLxtvrp?blocks=hide</string>
	</array>
	<array>
		<string>Jesslyn Faustina</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Jesslyn</string>
		<string>Jesslyn_MO</string>
		<string>Intermediate coding</string>
		<string>Graphic Design</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQfqtCKcysJub4K?blocks=hide</string>
	</array>
	<array>
		<string>Josephine Sugiharto</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Jose</string>
		<string>Jose_MO</string>
		<string>Basic Coding</string>
		<string>Branding, Graphic Design</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recxIo8KxsRpAhCLR?blocks=hide</string>
	</array>
	<array>
		<string>Karina Enny A.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Business</string>
		<string>Karina</string>
		<string>Karina_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recSeAcycvIXzNMDH?blocks=hide</string>
	</array>
	<array>
		<string>Leonora Jeanifer</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Business</string>
		<string>Jean</string>
		<string>Jean_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recFAS9UQnm2RhC62?blocks=hide</string>
	</array>
	<array>
		<string>Lois Pangestu</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Lois</string>
		<string>Lois_MO</string>
		<string>-</string>
		<string>Basic Coding, Basic Swift, Idea</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recVUi1CeHiMycYwz?blocks=hide</string>
	</array>
	<array>
		<string>M. Rizky Hidayat</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Rizky</string>
		<string>Rizky_MO</string>
		<string>English speak, Swift code style, Self management
</string>
		<string>Basic Code, SysAdmin</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQ904aEBjyxyo1r?blocks=hide</string>
	</array>
	<array>
		<string>Martin Ivo Hardinoto</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Martin</string>
		<string>Martin_MO</string>
		<string>-</string>
		<string>Basic swift</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec9icsxjxJrcWZp1?blocks=hide</string>
	</array>
	<array>
		<string>Michael Randicha G. S.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Michael</string>
		<string>Michael_MO</string>
		<string>Someone with Intermediate / Advanced understanding on TableViewController, TableViewCell, InputAccessoryView, TableViewCell&apos;s item&apos;s constraint &amp; Protocol</string>
		<string>Coder : Basic Swift, Intermediate Javascript (Angular &amp; Ionic), Intermediate Laravel, Interested in Flutter</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recrBQ7Vqq2b1ZfnL?blocks=hide</string>
	</array>
	<array>
		<string>M. Zinnur Atthufail A.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>A&apos;il</string>
		<string>A&apos;il_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recdgVDleMtPVkbhy?blocks=hide</string>
	</array>
	<array>
		<string>N. Ulul Albab</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Ulul</string>
		<string>Ulul_MO</string>
		<string>Swift Intermediate, UX Designer</string>
		<string>Code, UI/UX Pattern</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recpTM6TTSRJuRQTB?blocks=hide</string>
	</array>
	<array>
		<string>Natanael Geraldo S.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Natanael</string>
		<string>Natanael_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recMMUIauEzfGtM7C?blocks=hide</string>
	</array>
	<array>
		<string>Nicholas Ang</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Nicholas</string>
		<string>Nicholas_MO</string>
		<string>-</string>
		<string>Videography, Photography, Game Development (Unity), Animation and VFX, Basic Code</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/reckzOZbgCjHEsBKq?blocks=hide</string>
	</array>
	<array>
		<string>Nur Afni Zuhrotul L.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Afni</string>
		<string>Afni_MO</string>
		<string>-</string>
		<string>basic swift, passing data between view controller, set onboarding screen</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec1dQh5qvQnQUWvz?blocks=hide</string>
	</array>
	<array>
		<string>Oktavia Citra R. R.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Citra</string>
		<string>Citra_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recYtWH1u477k4sYp?blocks=hide</string>
	</array>
	<array>
		<string>Rachel Audrey E.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Rachel</string>
		<string>Rachel_MO</string>
		<string>Basic coding
</string>
		<string>Graphic Design, Branding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recow0NcdOD0BNVr6?blocks=hide</string>
	</array>
	<array>
		<string>Rizal Hidayat</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Rizal</string>
		<string>Rizal_MO</string>
		<string>English</string>
		<string>Basic code / basic swift</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recdKKAgKdnwa9kiV?blocks=hide</string>
	</array>
	<array>
		<string>Siti Istiany Tribunda</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Design</string>
		<string>Isti</string>
		<string>Isti_MO</string>
		<string>English speaking, Public speaking, Team work, Coding, Swift, UI&amp;UX Design.</string>
		<string>Graphic Design, Branding, Layout</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recVHbxEkWxei9LRv?blocks=hide</string>
	</array>
	<array>
		<string>Steven Wijaya</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>SW</string>
		<string>SW_MO</string>
		<string>-</string>
		<string>Basic Code, Basic Swift, iOS dev, a bit MacOS dev, Laravel, Backend, etc.</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recy03XVTDQvVLgKc?blocks=hide</string>
	</array>
	<array>
		<string>Taufiq Ramadhany</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Taufiq</string>
		<string>Taufiq_MO</string>
		<string>-</string>
		<string>Basic swift</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec0NZZiv2CGyhspZ?blocks=hide</string>
	</array>
	<array>
		<string>Tony Varian Y.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Tony</string>
		<string>Tony_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recOnHILkWuTEEdu9?blocks=hide</string>
	</array>
	<array>
		<string>Wahyu Kharisma M.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Wahyujus</string>
		<string>Wahyujus_MO</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recmBMPpQ7PJC66qi?blocks=hide</string>
	</array>
	<array>
		<string>Wahyu Saputra</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Wahyu</string>
		<string>Wahyu_MO</string>
		<string>Photoeditor, English Speaking</string>
		<string>Basic Coding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQXMHDrCZKHxRlr?blocks=hide</string>
	</array>
	<array>
		<string>Winata Arafat Fal A.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Tech</string>
		<string>Badai</string>
		<string>Badai_MO</string>
		<string>UI/UX Design, Swift, English Speaking</string>
		<string>Photography, Basic Coding, Critical Thinking, git, </string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/reckM0gUL1E3J8jch?blocks=hide</string>
	</array>
	<array>
		<string>Yonatan Niko S.</string>
		<string>Junior</string>
		<string>Morning</string>
		<string>Business</string>
		<string>Niko</string>
		<string>Niko_MO</string>
		<string>basic coding, graphic Design</string>
		<string>Business Management</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recW6BEtzpLTE9D4Y?blocks=hide</string>
	</array>
	<array>
		<string>Ari Kurniawan</string>
		<string>Senior</string>
		<string>All</string>
		<string>Design Facilitator </string>
		<string>Ari</string>
		<string>Ari_SE</string>
		<string>Basic coding</string>
		<string>Graphic Design (layout/composition, typography, branding), HIG, UI/UX</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec99ptpXnhZrVIBv?blocks=hide</string>
	</array>
	<array>
		<string>Bayu Prasetya</string>
		<string>Senior</string>
		<string>All</string>
		<string>Design Facilitator </string>
		<string>Bayu</string>
		<string>Bayu_SE</string>
		<string>-</string>
		<string>Visual Branding, Design Thinking, Development Process, UI/UX, Nemenin Mikir, Makan-makan (soon)</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recGBNfCuhaJEPbxa?blocks=hide</string>
	</array>
	<array>
		<string>Dickson Leonard</string>
		<string>Senior</string>
		<string>All</string>
		<string>Academy Manager</string>
		<string>Dickson</string>
		<string>Dickson_SE</string>
		<string>-</string>
		<string>Coding basics (algorithm, data structure, operations), App development process (problem definition, ideation, prototyping, production), Basic UX, Professional skills (leadership, communication)</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recKJIQPEUO8AdTE0?blocks=hide</string>
	</array>
	<array>
		<string>Fanny Halim</string>
		<string>Senior</string>
		<string>All</string>
		<string>Coding Facilitator </string>
		<string>Fanny</string>
		<string>Fanny_SE</string>
		<string>English Speaking \^0^/</string>
		<string>Basic iOS Development, (Swift, Xcode, Auto Layout, Data Collection), Discussion</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recoW4QPQRtGC8z3j?blocks=hide</string>
	</array>
	<array>
		<string>Gabriele Wijasa</string>
		<string>Senior</string>
		<string>All</string>
		<string>Design Facilitator </string>
		<string>Gaby</string>
		<string>Gabriele_SE</string>
		<string>-</string>
		<string>Graphic Design, UI/UX, Photography</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recthAxx7RvmLW9U2?blocks=hide</string>
	</array>
	<array>
		<string>Januar Tanzil</string>
		<string>Senior</string>
		<string>All</string>
		<string>Coding Facilitator </string>
		<string>Yanuar</string>
		<string>Januar_SE</string>
		<string>-</string>
		<string>Swift language, IOS Development, Game Development, Software Engineering in general</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recV3cw9nDl9oHkj3?blocks=hide</string>
	</array>
	<array>
		<string>Jaya Pranata</string>
		<string>Senior</string>
		<string>All</string>
		<string>Coding Facilitator </string>
		<string>Jaya</string>
		<string>Jaya_SE</string>
		<string>Graphic Design (layout/composition, typography, branding), UI/UX, problem analysis, basic research, HIG</string>
		<string>Coding basic, Swift Language, Auto Layout, Core Data, Map
</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recgd5F3Tc08fExax?blocks=hide</string>
	</array>
	<array>
		<string>John Alan Ketaren</string>
		<string>Senior</string>
		<string>All</string>
		<string>Professional Facilitator </string>
		<string>Ketaren</string>
		<string>Ketaren_SE</string>
		<string>Basic Xcode</string>
		<string>Ideation, bringing resources, user testing, business, fintech, Presentation,Networking.</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rece1ob0k654iz5ot?blocks=hide</string>
	</array>
	<array>
		<string>Rachmat Kukuh R.</string>
		<string>Senior</string>
		<string>All</string>
		<string>Coding Facilitator </string>
		<string>Kukuh</string>
		<string>Kukuh_SE</string>
		<string>-</string>
		<string>General iOS app development, iOS frameworks, Swift language</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recOqmotQtfKokO1v?blocks=hide</string>
	</array>
	<array>
		<string>Yehezkiel Cheryan T.</string>
		<string>Senior</string>
		<string>All</string>
		<string>Professional Facilitator </string>
		<string>Ryan</string>
		<string>Ryan_SE</string>
		<string>Swift/Xcode in general</string>
		<string>English language, Public speaking, Business presentation, Business writing, Business insights</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQOyT5uL6P5VW73?blocks=hide</string>
	</array>
	<array>
		<string>Yulibar Husni</string>
		<string>Senior</string>
		<string>All</string>
		<string>Coding Facilitator </string>
		<string>Yus</string>
		<string>Yulibar_SE</string>
		<string>Ideation, English Speaking, Project Management</string>
		<string>Swift, Ideation, Animation production</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recJdcmEDpIiN6FjM?blocks=hide</string>
	</array>
	<array>
		<string>Abraham Christopher</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Abraham</string>
		<string>Abraham_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recHrJdVpwHKrskUr?blocks=hide</string>
	</array>
	<array>
		<string>Afitra Mamor B.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Afitra</string>
		<string>Afitra_AF</string>
		<string>how to implement crud in swift</string>
		<string>Basic Coding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/reczI6JnSjBjuDPS8?blocks=hide</string>
	</array>
	<array>
		<string>Alessandro Vieri</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Aldo</string>
		<string>Aldo_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec5m1jx8Z1TUoZSZ?blocks=hide</string>
	</array>
	<array>
		<string>Almas Sharfina P.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Almas</string>
		<string>Almas_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recz2BPncHoTJvpFZ?blocks=hide</string>
	</array>
	<array>
		<string>Andre Marines A. T. U.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Matu</string>
		<string>Matu_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec3g2pC78NNMa6BX?blocks=hide</string>
	</array>
	<array>
		<string>Angelica Irene C.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Business</string>
		<string>Ren</string>
		<string>Ren_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recOPAfdfMhI4C4RX?blocks=hide</string>
	</array>
	<array>
		<string>Angelina Chandra</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Angel</string>
		<string>Angel_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recNqaK9vTzKhV8vm?blocks=hide</string>
	</array>
	<array>
		<string>Arinal Haq</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Arinal</string>
		<string>Arinal_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recvk8fm3K208NZv4?blocks=hide</string>
	</array>
	<array>
		<string>Auriga Aristo</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Riga</string>
		<string>Riga_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rectphvB6qpOSWUZc?blocks=hide</string>
	</array>
	<array>
		<string>Candra Sabdana N.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Candra</string>
		<string>Candra_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recDWS04nWZXF1OVx?blocks=hide</string>
	</array>
	<array>
		<string>Christian Tanjono</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Christian</string>
		<string>Christian_AF</string>
		<string>Advance OOP, UI Design, Transition on Swift (Onboarding)</string>
		<string>Basic Coding, Basic Programming Algorithm, Network Troubleshooting, Achieving your Body Goals

</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recTGPhs5uQTt0UGs?blocks=hide</string>
	</array>
	<array>
		<string>Christopher Kevin S.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Kikis</string>
		<string>Kikis_AF</string>
		<string>SQLite CRUD </string>
		<string>Basic Swift, Basic Coding, Basic UI and Graphic Design, software-related stuffs (e.g. installing Minecraft, uninstalling Fortnite)</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recbaZt5471lq1PxG?blocks=hide</string>
	</array>
	<array>
		<string>David Christian K.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>David</string>
		<string>David_AF</string>
		<string>HIG, Layouting, design, UI/UX, English presentation</string>
		<string>Basic swift, basic coding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recmEKoXUt6pvXKlU?blocks=hide</string>
	</array>
	<array>
		<string>Dimarta Julkha F.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Marta</string>
		<string>Marta_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recy3fixkKqI1IDWp?blocks=hide</string>
	</array>
	<array>
		<string>Fauzia Umar</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Zizi</string>
		<string>Zizi_AF</string>
		<string>-</string>
		<string>basic coding, basic swift, UIUX</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recJCtxsODDl6uQkY?blocks=hide</string>
	</array>
	<array>
		<string>Felicia Gunadi</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Felicia</string>
		<string>Felicia_AF</string>
		<string>Code, Presentation</string>
		<string>Basic Coding, UI Design, Team Management</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recnWeXowGZwZmf8Q?blocks=hide</string>
	</array>
	<array>
		<string>Harvey Lienardo</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Harvey</string>
		<string>Harvey_AF</string>
		<string>-</string>
		<string>Photography, image processing, layout</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recOjK5BMgOCiBiWl?blocks=hide</string>
	</array>
	<array>
		<string>I Putu Andhika I. W.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Putu</string>
		<string>Putu_AF</string>
		<string>Take image data from taken photos</string>
		<string>Basic Coding, Basic Sketch, Having Fun</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recyGJ3l6ltoTW7oj?blocks=hide</string>
	</array>
	<array>
		<string>Ivan winarto</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Ivan</string>
		<string>Ivan_AF</string>
		<string>present properly in english
</string>
		<string>Basic Coding, Team management</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recAC8xZIq4Ivqw12?blocks=hide</string>
	</array>
	<array>
		<string>Jeremy Endratno</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Jeje</string>
		<string>Jeremy_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recIFoAGpXP1KumDw?blocks=hide</string>
	</array>
	<array>
		<string>Jeslyn Kosasih</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Jeslyn</string>
		<string>Jeslyn_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recOquBsrOhyjmsGy?blocks=hide</string>
	</array>
	<array>
		<string>Jessica Ayumi Aris</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Ayumi</string>
		<string>Ayumi_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recoLheS0MBAsxlly?blocks=hide</string>
	</array>
	<array>
		<string>Jessy The Wirianto </string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Business</string>
		<string>Jessy</string>
		<string>Jessy_AF</string>
		<string>Coding, Design, Communication Skill</string>
		<string>Business Idea, Design Input</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recAyErSaPhzFvdCS?blocks=hide</string>
	</array>
	<array>
		<string>Joahan Wirasugianto</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Joahan</string>
		<string>Joahan_AF</string>
		<string>Code, UI Design</string>
		<string>Code, UI Design, Get Reletionship, Achieving your Body Goals
</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec6ditTgLIOzsN8b?blocks=hide</string>
	</array>
	<array>
		<string>Jovan Alvin</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Jovan</string>
		<string>Jovan_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recYmZCE06VFvjUaG?blocks=hide</string>
	</array>
	<array>
		<string>Kevin Heryanto</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>KH</string>
		<string>KH_AF</string>
		<string>Code, Design, HIG, English Speaking</string>
		<string>Code, Makan-Makan.</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recYDhWH46ylI3e79?blocks=hide</string>
	</array>
	<array>
		<string>Kevin Pratama S.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>KP</string>
		<string>Kp_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec0MDo0jtEZcelb8?blocks=hide</string>
	</array>
	<array>
		<string>Kezia Lauren H.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Kezia</string>
		<string>Kezia_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec4FxrQojucXFGwb?blocks=hide</string>
	</array>
	<array>
		<string>Krisna Harimurti</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Business</string>
		<string>Krisna</string>
		<string>Krisna_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recrcSnEIzQbM5BCN?blocks=hide</string>
	</array>
	<array>
		<string>Livia Angelica G.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Livia</string>
		<string>Livia_AF</string>
		<string>-</string>
		<string>Basic graphic design stuff (Photoshop, Illustrator), English maybe hehe, copywriting</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recLtNYqFwyOWnPgQ?blocks=hide</string>
	</array>
	<array>
		<string>Michelle Caroline K.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Michelle</string>
		<string>Michelle_AF</string>
		<string>-</string>
		<string>Graphic Design (Layouting)</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/reclsK7M26xAECGYZ?blocks=hide</string>
	</array>
	<array>
		<string>M. Maulana Ardiansyah</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Maul</string>
		<string>Maul_AF</string>
		<string>Machine Learning, Advanced Swift, Swift UI</string>
		<string>Basic Swift, UI/UX Design, Graphic Design, Layouting, Coding, Logical Thinking</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recXYQwTyKy7hC1Zs?blocks=hide</string>
	</array>
	<array>
		<string>Monica Adelya P.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Monica</string>
		<string>Monica_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recst3efvWVfhOuOo?blocks=hide</string>
	</array>
	<array>
		<string>M. Bangun Agung</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Agung</string>
		<string>Agung_AF</string>
		<string>Presentation, Collaboration</string>
		<string>Coding, UI Design, Animation</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec3h4cm12rrevlUE?blocks=hide</string>
	</array>
	<array>
		<string>M. Faisal Febrianto</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Faisal</string>
		<string>Faisal_AF</string>
		<string>ui,ux and english speaking</string>
		<string>Basic Coding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recElCPHkH9j1S6ZU?blocks=hide</string>
	</array>
	<array>
		<string>M. Naufal Muzaky S. P.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Zaky</string>
		<string>Zaky_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recRlS0eJdFxWyDw0?blocks=hide</string>
	</array>
	<array>
		<string>Natasha Adeline W.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Tata</string>
		<string>Tata_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recWMUTS8nFs9SiIV?blocks=hide</string>
	</array>
	<array>
		<string>Richard Santoso</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Richard</string>
		<string>Richard_AF</string>
		<string></string>
		<string>basic coding, English</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recuFl6ty10eIAWOB?blocks=hide</string>
	</array>
	<array>
		<string>Ricky Austin S.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Ricky</string>
		<string>Ricky_AF</string>
		<string>-</string>
		<string>Layouting, Logical Thinking, Basic Swift, photo manipulation, and pushing your score in the game</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recKOVPR58hduZmcf?blocks=hide</string>
	</array>
	<array>
		<string>Rini Handini</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Rini</string>
		<string>Rini_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec0q2SoTNqkqhpQd?blocks=hide</string>
	</array>
	<array>
		<string>Ryan Anslyno K.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Ryan</string>
		<string>Ryan_AF</string>
		<string>Code with Model View</string>
		<string>Basic Coding</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recIbEXRGGgc4hl78?blocks=hide</string>
	</array>
	<array>
		<string>Samantha Teonata</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Sam</string>
		<string>Sam_AF</string>
		<string>-</string>
		<string>Graphic Design, bonding and getting along with people, ngeramein acara (BUKAN badut ultah), boosting your confidence (if you feel like you need one), ngobrol dan ngoceh</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recpvqsJnz1Hup7IT?blocks=hide</string>
	</array>
	<array>
		<string>Silviera Dewi N.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Silvi</string>
		<string>Silviera_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recJo5ua7SshYMRpz?blocks=hide</string>
	</array>
	<array>
		<string>Stefany</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Business</string>
		<string>Stefany</string>
		<string>Stefany_AF</string>
		<string>pengen sih bisa gambar wkwk
</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recQzm3XbbALrF5Cn?blocks=hide</string>
	</array>
	<array>
		<string>Timotius Cahyadi</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Timotius</string>
		<string>Timotius_AF</string>
		<string></string>
		<string>Basic Coding, Basic Design</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recnrXgpLT9yfIVmG?blocks=hide</string>
	</array>
	<array>
		<string>Timotius Leonardo L.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Timol</string>
		<string>Timol_AF</string>
		<string>Design and how to pick a good colour collaboration</string>
		<string>Code Logic, Public Speaking</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recL0tMx8Cz8OEm3C?blocks=hide</string>
	</array>
	<array>
		<string>Tivany Hartono</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Design</string>
		<string>Tivany</string>
		<string>Tivany_AF</string>
		<string>-</string>
		<string>Graphic Design</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recFd1pUAzV0bwS9Y?blocks=hide</string>
	</array>
	<array>
		<string>Ulinnuha Nabilah</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Nabilah</string>
		<string>Nabilah_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recrsUEFfAR298xCf?blocks=hide</string>
	</array>
	<array>
		<string>Victor Wijaya N.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Business</string>
		<string>Victor</string>
		<string>Victor_AF</string>
		<string>Coding</string>
		<string>Business, Design Basics</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec8zdu31xaqH3GKC?blocks=hide</string>
	</array>
	<array>
		<string>Wienona Martha P.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>Wienona</string>
		<string>Wienona_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/rec5JKEBfF8x7nji6?blocks=hide</string>
	</array>
	<array>
		<string>William Sebastian T.</string>
		<string>Junior</string>
		<string>Afternoon</string>
		<string>Tech</string>
		<string>William</string>
		<string>William_AF</string>
		<string>-</string>
		<string>-</string>
		<string>https://airtable.com/tblJaFhxPdPUwGrgE/viw8eU9EoKGhMIQqw/recFZftbORT6U3fZi?blocks=hide</string>
	</array>
</array>
</plist>
